<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.webivoire.babyissweetest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >

        <activity android:name=".view.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>


        <meta-data android:name="com.google.android.geo.API_KEY"
                    android:value="AIzaSyAqBKCw66V_O3H-gEFJWofNPxpK7lN2OAE" />

    </application>

</manifest>
